/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

/* =========================
   BODY
========================= */

body{
    background:#050505;
    color:white;
    font-family:'Outfit',sans-serif;
    overflow-x:hidden;
}

/* =========================
   LOADER
========================= */

.loader{

    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100vh;

    background:
        radial-gradient(
        circle at center,
        #111,
        #050505
    );

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    z-index:9999;
}

.loader h1{

    font-size:5rem;

    text-align:center;

    line-height:0.9;

    font-weight:800;

    letter-spacing:-3px;
}

.loader p{

    margin-top:25px;

    color:#888;

    letter-spacing:4px;

    text-transform:uppercase;
}

.loader-line{

    width:0;

    height:2px;

    background:white;

    margin-top:30px;
}

/* =========================
   NAVBAR
========================= */

nav{

    position:fixed;

    top:15px;
    left:50%;

    transform:translateX(-50%);

    width:90%;

    padding:16px 40px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    z-index:1000;

    background:rgba(255,255,255,0.03);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,0.08);

    border-radius:20px;
}

nav li{

    position:relative;

    cursor:pointer;

    transition:0.3s;
}

nav li::after{

    content:"";

    position:absolute;

    left:0;
    bottom:-8px;

    width:0;

    height:2px;

    background:white;

    transition:0.3s;
}

nav li:hover::after{

    width:100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

li {
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

li::after{
    content:"";

    position: absolute;

    left:0;
    bottom:-5px;

    width:0%;
    height:2px;

    background:white;

    transition:0.3s;
}

li:hover::after {
    width:100%;
}

nav ul li a{

    color:white;

    text-decoration:none;

    transition:0.3s;

}

nav ul li a:hover{

   color:#dcdcdc;

}

nav ul li a:visited{
    color:white;
}

/* Active Nav Link */

nav ul li a.active{

    color:white;

    position:relative;
}

nav ul li a.active::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:100%;

    height:2px;

    background:white;

    border-radius:10px;
}

/* =========================
    HERO
========================= */

.hero {
    height: 105vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 80px;
    padding-top: 180px;
}

.hero h1 {
    font-size: 10rem;
    line-height: 0.9;
    font-weight: 800;
    letter-spacing: -6px;
}

.hero p {
    margin-top: 30px;
    color: gray;
    font-size: 1.2rem;
}

/* =========================
   RESPONSIVE DESIGN
========================= */

@media (max-width: 768px) {

    nav {
        padding: 20px;
        flex-direction: column;
        gap: 20px;
    }

    ul {
        gap: 20px;
    }

    .hero {
        padding: 20px;
    }

    .hero h1 {
        font-size: 4rem;
    }

}

/* =========================
   HERO SECTION
========================= */

.hero{
    min-height:90vh;

    display:grid;
    grid-template-columns:1.8fr 0.8fr;

    align-items:center;

    gap:120px;

    padding:0 80px;

    position:relative;
}

.hero::before{

    content:"";

    position:absolute;

    width:400px;
    height:400px;

    background:white;

    border-radius:50%;

    filter:blur(180px);

    opacity:0.03;

    top:50%;

    left:30%;

    transform:translate(-50%,-50%);

    z-index:-1;
}

.hero-left{
    display:flex;
    flex-direction:column;
}

.hero-tag{
    color:#777;
    letter-spacing:6px;
    font-size:0.95rem;
    margin-bottom:30px;
    text-transform:uppercase;
}

.hero h1{
    font-size:7rem;
    line-height:0.9;
    letter-spacing:-5px;
    font-weight:800;
    color:white;
}

.hero h2{
    margin-top:30px;
    font-size:2.5rem;
    color:white;
    font-weight:700;
}

.hero h3{
    margin-top:10px;
    font-size:2rem;
    color:#71717A;
    font-weight:600;
}

.hero-desc{
    margin-top:35px;

    max-width:550px;

    color:#8a8a8a;

    line-height:1.8;

    font-size:1.1rem;
}

.hero-right{

    display:flex;

    justify-content:center;

    align-items:center;

    padding-left:50px;

    position:relative;
}

.hero-right p{

    max-width:420px;

    font-size:1.3rem;

    line-height:2.1;

    color:#9b9b9b;

    font-weight:300;

    letter-spacing:0.5px;
}

.hero-right::before{

    content:"";

    position:absolute;

    width:300px;
    height:300px;

    background:white;

    border-radius:50%;

    filter:blur(150px);

    opacity:0.03;

    z-index:-1;
}

.hero-line{

    width:2px;

    height:220px;

    background:linear-gradient(
        to bottom,
        transparent,
        rgba(255,255,255,0.5),
        transparent
    );

    margin-right:40px;
}

.hero-btn{

    margin-top:40px;

    width:fit-content;

    padding:18px 38px;

    border:none;

    border-radius:60px;

    background:white;

    color:black;

    font-size:1rem;

    font-weight:700;

    cursor:pointer;

    transition:0.3s;

    letter-spacing:0.5px;

    position:relative;

    overflow:hidden;
}

.hero-btn:hover{

    transform:translateY(-4px);

    box-shadow:
        0 20px 40px rgba(255,255,255,0.15);

}

.hero-btn::before{

    content:"";

    position:absolute;

    inset:0;

    background:
        linear-gradient(
            90deg,
            transparent,
            rgba(255,255,255,.35),
            transparent
        );

    transform:translateX(-120%);

    transition:.7s;
}

.hero-btn:hover::before{

    transform:translateX(120%);
}

.bg-text{
    position:absolute;

    left:-100px;
    top:50%;

    transform:translateY(-50%);

    font-size:24rem;

    font-weight:800;

    color:rgba(255,255,255,0.035);

    user-select:none;

    z-index:-1;

    white-space:nowrap;

    letter-spacing:-10px;

    @media(max-width:768px){

        .bg-text{
            font-size:8rem;
        }

    }
}

/* =========================
    BACKGROUND GLOW
========================= */

.blur-circle{
    position:fixed;

    width:600px;
    height:600px;

    background:white;

    border-radius:50%;

    filter:blur(250px);

    opacity:0.06;

    top:-200px;
    left:-150px;

    z-index:-1;
}

/* =========================
   FLOATING MESH BACKGROUND
========================= */

.mesh{

    position:fixed;

    border-radius:50%;

    filter:blur(150px);

    pointer-events:none;

    z-index:-2;
}

.mesh-1{

    width:500px;
    height:500px;

    background:#1a4fff;

    opacity:0.12;

    top:10%;
    left:-150px;
}

.mesh-2{

    width:600px;
    height:600px;

    background:#8b5cf6;

    opacity:0.08;

    right:-200px;
    bottom:-100px;
}

/* =========================
   PROJECT SHOWCASE
========================= */

.projects{

    padding:180px 80px;
}

.projects h2{

    font-size:6rem;

    margin-bottom:120px;

    text-align:center;
}

.project-showcase{

    display:flex;

    flex-direction:column;

    gap:220px;
}

.project-item{

    display:grid;

    grid-template-columns:1.5fr 1fr;

    gap:60px;

    align-items:center;

    position:relative;
}

.project-item::before{

    content:"";

    position:absolute;

    inset:-20px;

    background:
        radial-gradient(
            circle,
            rgba(255,255,255,.04),
            transparent 70%
        );

    opacity:0;

    transition:.5s;

    pointer-events:none;
}

.project-item:hover::before{

    opacity:1;
}

.project-item.reverse{

    grid-template-columns:1fr 1.5fr;
}

.project-item.reverse .project-preview{

    order:2;
}

.project-item.reverse .project-info{

    order:1;
}

.project-preview{

    height:650px;

    overflow:hidden;

    position:relative;

    border-radius:30px;

    background:#111;

    border:1px solid rgba(255,255,255,0.05);
}

.project-preview:hover{
    border-color:rgba(255,255,255,0.15);
}

.project-preview img{

    width:100%;
    height:100%;

    object-fit:cover;

    display:block;

    transition:0.6s;
}

.project-preview:hover img{

    transform:scale(1.12);

    filter:brightness(1.1);
}

.project-category{

    color:#777;

    letter-spacing:4px;

    font-size:0.9rem;

    margin-bottom:20px;
}

.project-info h3{

    font-size:3rem;

    margin-bottom:20px;
}

.project-info p{

    color:#888;

    line-height:1.8;

    margin-bottom:30px;
}

.project-info a{

    color:white;

    text-decoration:none;

    font-weight:600;

    display:inline-flex;

    align-items:center;

    gap:10px;

    transition:.3s;
}

.project-info a:hover{

    transform:translateX(10px);
}

.project-image{

    margin-top:30px;

    height:250px;

    border-radius:20px;

    background:linear-gradient(
        135deg,
        #1a1a1a,
        #2a2a2a
    );
}

/* =========================
   ABOUT SECTION
========================= */

.about{

    padding:150px 80px;
}

.about-header{

    max-width:800px;

    margin-bottom:80px;
}

.about-header p{

    color:#666;

    letter-spacing:4px;

    margin-bottom:20px;
}

.about-header h2{

    font-size:4rem;

    line-height:1.1;
}

.about-grid{

    display:grid;

    grid-template-columns:
    repeat(3,1fr);

    gap:30px;
}

.about-card{

    background:#0f0f0f;

    border:1px solid #1e1e1e;

    border-radius:25px;

    padding:40px;

    transition:0.4s;
}

.about-card:hover{

    transform:translateY(-10px);

    border-color:#444;
}

.about-card span{

    font-size:3rem;

    color:#222;

    font-weight:800;
}

.about-card h3{

    margin-top:20px;

    margin-bottom:15px;

    font-size:1.7rem;
}

.about-card p{

    color:#888;

    line-height:1.8;
}

/* =========================
    CURSOR
========================= */

.cursor{
    width:20px;
    height:20px;

    border-radius:50%;

    background:white;

    position:fixed;

    pointer-events:none;

    z-index:9999;

    mix-blend-mode:difference;

    transform:translate(-50%, -50%);

    @media (max-width:768px){

        .cursor{
            display:none;
        }

    }
}

/* =========================
    SPOTLIGHT
========================= */

.spotlight{

    position:fixed;

    width:500px;
    height:500px;

    border-radius:50%;

    pointer-events:none;

    background:radial-gradient(
        circle,
        rgba(255, 255, 255, 0.06),
        transparent 70%
    );

    transform:translate(-50%,-50%);

    z-index:0;

    filter:blur(40px);
}

.spotlight{
    z-index:-1;
}

/* =========================
    CONTACT SECTION
========================= */

.contact{
    padding:150px 80px;
}

.contact-tag{
    color:#888;
    letter-spacing:4px;
    margin-bottom:20px;
}

.contact h2{
    font-size:5rem;
    max-width:900px;
    line-height:1.1;
}

.contact-links{
    margin-top:60px;

    display:flex;
    gap:40px;

    flex-wrap:wrap;
}

.contact-links a{
    color:white;

    text-decoration:none;

    font-size:1.2rem;

    transition:.3s;
}

.contact-links a:hover{
    color:#888;
}

/* =========================
   FOOTER
========================= */

.footer{

    padding:80px;

    margin-top:120px;
}

.footer-line{

    width:100%;

    height:1px;

    background:#222;

    margin-bottom:60px;
}

.footer-content{

    display:flex;

    justify-content:space-between;

    align-items:center;

    flex-wrap:wrap;

    gap:40px;
}

.footer-left h3{

    font-size:2rem;

    margin-bottom:15px;
}

.footer-left p{

    color:#777;
}

.footer-right{

    display:flex;

    gap:30px;

    flex-wrap:wrap;
}

.footer-right a{

    color:#888;

    text-decoration:none;

    transition:0.3s;
}

.footer-right a:hover{

    color:white;
}

.footer-bottom{

    margin-top:60px;

    padding-top:40px;

    border-top:1px solid #1a1a1a;

    display:flex;

    justify-content:space-between;

    align-items:center;

    flex-wrap:wrap;

    gap:20px;
}

.footer-bottom p{

    color:#666;
}

.back-to-top{

    color:white;

    text-decoration:none;

    transition:0.3s;
}

.back-to-top:hover{

    transform:translateY(-3px);

    color:#aaa;
}

/* =========================
    SECTION DIVIDER
========================= */

.divider{
    width:100%;
    height:1px;

    background:#1a1a1a;
}

/* =========================
   SCROLL REVEAL
========================= */

.reveal{

    opacity:0;

    transform:translateY(120px);

}

/* =========================
   MARQUEE
========================= */

.marquee-section{

    border-top:1px solid rgba(255,255,255,0.08);

    border-bottom:1px solid rgba(255,255,255,0.08);

    padding:120px 0;

    overflow:hidden;
}

.marquee{

    width:100%;

    overflow:hidden;
}

.marquee-track{

    display:flex;

    gap:50px;

    white-space:nowrap;

    width:max-content;
}

.marquee-track span{

    font-size:4rem;

    font-weight:700;

    color:#ffffff15;

    letter-spacing:2px;

    transition:0.4s;
}

.marquee-track span:hover{

    color:white;
}

/* =========================
   SKILLS SECTION
========================= */

.skills{

    padding:150px 80px;
}

.skills-header{

    margin-bottom:70px;
}

.skills-header p{

    color:#666;

    letter-spacing:4px;

    margin-bottom:20px;
}

.skills-header h2{

    font-size:4rem;
}

.skills-grid{

    display:grid;

    grid-template-columns:
    repeat(3,1fr);

    gap:30px;
}

.skill-card{

    background:#0f0f0f;

    border:1px solid #1e1e1e;

    border-radius:25px;

    padding:40px;

    transition:0.4s;
}

.skill-card:hover{

    transform:translateY(-10px);

    border-color:#444;
}

.skill-card h3{

    margin-bottom:25px;

    font-size:1.8rem;
}

.skill-tags{

    display:flex;

    flex-wrap:wrap;

    gap:12px;
}

.skill-tags span{

    padding:10px 18px;

    border-radius:50px;

    background:#171717;

    border:1px solid #252525;

    color:#ddd;

    font-size:0.95rem;

    transition:0.3s;
}

.skill-tags span:hover{

    background:white;

    color:black;

    transform:translateY(-3px);
}

/* =========================
   TIMELINE SECTION
========================= */

.timeline{

    padding:150px 80px;
}

.timeline-header{

    text-align:center;

    margin-bottom:100px;
}

.timeline-header p{

    color:#666;

    letter-spacing:4px;

    margin-bottom:20px;
}

.timeline-header h2{

    font-size:4rem;
}

.timeline-container{

    max-width:900px;

    margin:auto;

    position:relative;
}

.timeline-container::before{

    content:"";

    position:absolute;

    left:50%;

    top:0;

    width:2px;

    height:100%;

    background:#222;

    transform:translateX(-50%);
}

.timeline-item{

    position:relative;

    width:50%;

    padding:30px;
}

.timeline-item:nth-child(odd){

    left:0;

    text-align:right;
}

.timeline-item:nth-child(even){

    left:50%;
}

.timeline-dot{

    width:18px;

    height:18px;

    background:white;

    border-radius:50%;

    position:absolute;

    top:45px;
}

.timeline-item:nth-child(odd) .timeline-dot{

    right:-9px;
}

.timeline-item:nth-child(even) .timeline-dot{

    left:-9px;
}

.timeline-content{

    background:#0f0f0f;

    border:1px solid #1e1e1e;

    padding:30px;

    border-radius:20px;

    transition:0.4s;
}

.timeline-content:hover{

    transform:translateY(-8px);

    border-color:#444;
}

.timeline-content span{

    color:#888;

    font-size:0.9rem;
}

.timeline-content h3{

    margin:15px 0;

    font-size:1.5rem;
}

.timeline-content p{

    color:#777;

    line-height:1.8;
}

/* =========================
   RESPONSIVE DESIGN
========================= */

@media (max-width: 1024px){

    nav{
        padding:20px 40px;
    }

    .hero{
        grid-template-columns:1fr;
        gap:60px;
        padding:120px 40px;
    }

    .hero-right{
        max-width:100%;
    }

    .hero h1{
        font-size:6rem;
    }

    .project-showcase{
        gap:80px;
    }

    .skills-grid{
        grid-template-columns:1fr;
    }

    .contact h2{
        font-size:4rem;
    }

}

@media (max-width: 768px){

    nav{
        padding:20px;
    }

    nav ul{
        gap:20px;
    }

    .hero{
        padding:120px 20px;
    }

    .hero h1{
        font-size:4rem;
        letter-spacing:-2px;
    }

    .hero h2{
        font-size:1.5rem;
    }

    .hero h3{
        font-size:1.3rem;
    }

    .projects,
    .about,
    .skills,
    .timeline,
    .contact,
    .footer{
        padding:100px 20px;
    }

    .projects h2,
    .skills-header h2,
    .timeline-header h2,
    .contact h2{
        font-size:3rem;
    }

    .project-item{
        grid-template-columns:1fr;
    }

    .timeline-container::before{
        left:20px;
    }

    .timeline-item{
        width:100%;
        left:0 !important;
        text-align:left !important;
        padding-left:60px;
    }

    .timeline-dot{
        left:11px !important;
        right:auto !important;
    }

    .footer-content,
    .footer-bottom{
        flex-direction:column;
        align-items:flex-start;
    }

}

@media (max-width: 480px){

    .hero h1{
        font-size:3rem;
    }

    .hero h2{
        font-size:1.2rem;
    }

    .hero h3{
        font-size:1rem;
    }

    .contact h2{
        font-size:2.5rem;
    }

    .projects h2,
    .skills-header h2,
    .timeline-header h2{
        font-size:2.5rem;
    }

    .contact-links{
        flex-direction:column;
        width:100%;
    }

    .contact-links a{
        text-align:center;
    }

}

/* =========================
   MOBILE RESPONSIVE
========================= */

@media (max-width: 768px){

    nav{
        width:90%;
        padding:20px;
        flex-direction:column;
        gap:20px;
    }

    nav ul{
        gap:20px;
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero{
        grid-template-columns:1fr;
        padding:120px 30px 80px;
        gap:50px;
    }

    .hero h1{
        font-size:4rem;
        letter-spacing:-2px;
    }

    .hero h2{
        font-size:1rem;
    }

    .hero h3{
        font-size:0.9rem;
    }

    .hero-right{
        max-width:100%;
    }

    .hero-right p{
        font-size:1rem;
        line-height:1.8;
    }

    .projects{
        padding:100px 30px;
    }

    .projects h2{
        font-size:3rem;
        margin-bottom:50px;
    }

    .project-item{
        grid-template-columns:1fr;
        gap:40px;
    }

    .project-preview{
        height:250px;
    }

    .project-info h3{
        font-size:2.5rem;
    }

    .about{
        padding:100px 30px;
    }

    .about h2{
        font-size:3rem;
    }

    .timeline{
        padding:100px 30px;
    }

    .timeline-title{
        font-size:3rem;
    }

    .timeline-line{
        display:none;
    }

    .timeline-item{
        width:100%;
        left:0 !important;
        text-align:left !important;
        padding-left:0 !important;
        padding-right:0 !important;
    }

    .contact{
        padding:100px 30px;
    }

    .contact h2{
        font-size:3rem;
    }

    .footer{
        padding:40px 30px;
    }

}

/* =========================
   MOBILE OPTIMIZATION
========================= */

@media (max-width: 768px){

    nav{
        width:92%;
        padding:20px;
    }

    nav ul{
        gap:15px;
    }

    nav ul li a{
        font-size:0.9rem;
    }

    .hero{
        grid-template-columns:1fr;
        padding:130px 25px 60px;
        gap:40px;
    }

    .hero h1{
        font-size:3.8rem;
        line-height:0.95;
    }

    .hero h2{
        font-size:0.95rem;
    }

    .hero h3{
        font-size:0.85rem;
    }

    .hero-desc{
        font-size:1rem;
        line-height:1.8;
    }

    .hero-right{
        display:none;
    }

    .bg-text{
        font-size:7rem;
        opacity:0.05;
    }

    .projects{
        padding:80px 25px;
    }

    .projects h2{
        font-size:2.8rem;
    }

    .project-item{
        grid-template-columns:1fr;
        gap:25px;
    }

    .project-preview{
        height:220px;
    }

    .project-info h3{
        font-size:2rem;
    }

    .about,
    .timeline,
    .contact{
        padding:80px 25px;
    }

    .about h2,
    .timeline-title,
    .contact h2{
        font-size:2.8rem;
    }

    .footer{
        padding:40px 25px;
    }

}

@media (max-width: 390px){

    .hero h1{
        font-size:3rem;
    }

    .projects h2{
        font-size:2.2rem;
    }

    .project-info h3{
        font-size:1.7rem;
    }

    .about h2,
    .timeline-title,
    .contact h2{
        font-size:2.2rem;
    }

}
